DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,10.10.10.135

POSTGRES_DB=d30
POSTGRES_USER=d30
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
